{% extends 'FulgurioLightCMSBundle:models:_adminAddForm.html.twig' %}
{% block rightFields %}
			<div class="well span4 pull-right">
				<div class="control-group">
					<label class="control-label" for="{{ form.nb_posts_per_page.vars.id }}">{% trans from "admin" %}fulgurio.lightcmsblog.posts.add_form.nb_posts_per_page{% endtrans %}</label>
					<div class="controls">
						<input type="text" id="{{ form.nb_posts_per_page.vars.id }}" class="input-xlarge" name="{{ form.nb_posts_per_page.vars.full_name }}" value="{% if form.nb_posts_per_page.vars.value %}{{ form.nb_posts_per_page.vars.value }}{% else %}{% if pageMetas['nb_posts_per_page'] is defined %}{{ pageMetas['nb_posts_per_page'].metaValue }}{% endif %}{% endif %}" />
					</div>
				</div>
			</div>
{{ parent() }}
{% endblock %}
